{% extends "master.html" %}
{% block content %}
<ul class="m-1 flex justify-center border-b bg-gray-200 pt-2">
    <li onclick="login()" class="-mb-px mr-1">
      <a id="login-tab" class="bg-white inline-block rounded-t py-2 px-4 text-blue-500" href="#">Questions</a>
    </li>
    <li onclick="register()" class="-mb-px mr-1">
      <a id="register-tab" class="bg-gray-200 inline-block rounded-t py-2 px-4 text-blue-500" href="#">Topics</a>
    </li>
</ul>
<div id="login-page" class="container mx-auto">
<div class="grid grid-cols-6 justify-center my-2">
    <div class="col-start-1 col-end-4">
        {% for question in questions %}
        <div class="block w-full m-3 shadow-md rounded p-2">
            <p class="font-display text-3xl text-gray-600 pb-2 border-b">
                {{question.name}}
                <span class="text-yellow-500 text-lg text-middle"><span class="material-icons">grade</span> {{question.rating}}</span>
                <span class="float-right">
                  <a href="/admin/question/{{question.id}}" class="material-icons rounded-full p-1 bg-gray-700 text-white mx-1">create</a>
                  <a href="/admin/question/remove/{{question.id}}" class="material-icons rounded-full p-1 bg-red-700 text-white mx-1">delete</a>
                </span>
            </p>
            <p class="mt-2 text-gray-500">
                {{question.description}}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-start-5 col-end-7">
        <form action="/admin/question/add" method="POST" enctype="application/x-www-form-urlencoded" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
              Name
            </label>
            <input name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
              Description
            </label>
            <textarea name="description" rows="10" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" placeholder="description"></textarea>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="rating">
              Rating
            </label>
            <input name="rating" min="1" max="5" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="rating" type="numeric" placeholder="1">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="topic">
              Topic
            </label>
            <select name="topic" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="topic">
                {% for topic in topics %}
                <option value="{{topic.id}}">{{topic.name}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="flex items-center justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Create Question
            </button>
          </div>
        </form>
    </div>
</div>
</div>
<div id="register-page" class="container mx-auto" style="display: none;">
<div class="grid grid-cols-6 justify-center my-2">
    <div class="col-start-1 col-end-4">
        {% for topic in topics %}
        <div class="block w-full m-3 shadow-md rounded p-2">
            <p class="font-display text-3xl text-gray-600 pb-2 border-b">
                {{topic.name}}
                <span class="float-right">
                  <a href="/admin/topic/{{topic.id}}" class="material-icons rounded-full p-1 bg-gray-700 text-white mx-1">create</a>
                  <a href="/admin/topic/remove/{{topic.id}}" class="material-icons rounded-full p-1 bg-red-700 text-white mx-1">delete</a>
                </span>
            </p>
            <p class="mt-2 text-gray-500">
                {{topic.description.slice(0, 300)}}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-start-5 col-end-7">
        <form action="/admin/topic/add" method="POST" enctype="application/x-www-form-urlencoded" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
              Name
            </label>
            <input name="name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
              Description
            </label>
            <textarea name="description" rows="10" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" placeholder="description"></textarea>
          </div>
          <div class="flex items-center justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Create topic
            </button>
          </div>
        </form>
    </div>
</div>
</div>
<script>
    const loginEl = document.getElementById("login-page");
    const registerEl = document.getElementById("register-page");
    const loginTab = document.getElementById("login-tab");
    const registerTab = document.getElementById("register-tab");
    loginTab.style.textDecoration = "underline";
    registerTab.style.textDecoration = "none";

    const login = () => {
        loginEl.style.display = "block";
        registerEl.style.display = "none";
        loginTab.style.textDecoration = "underline";
        registerTab.style.textDecoration = "none";
        registerTab.className = registerTab.className.replace(/bg-white/g, "bg-gray-200");
        loginTab.className = loginTab.className.replace(/bg-gray-200/g, "bg-white");
    }
    
    const register = () => {
        loginEl.style.display = "none";
        registerEl.style.display = "block";
        registerTab.style.textDecoration = "underline";
        loginTab.style.textDecoration = "none";
        loginTab.className = loginTab.className.replace(/bg-white/g, "bg-gray-200");
        registerTab.className = registerTab.className.replace(/bg-gray-200/g, "bg-white");
    }
</script>
{% endblock %}