{% extends "master.html" %}
{% block content %}
  <div class="w-full flex flex-col sm:flex-row">
    <div class="h-48 m-2 mt-4 text-center align-middle">
      <span class="font-display text-4xl">Hi {{user.name}}!</span>
      <p class="font-body text-xl">A dream does not become reality through magic; it takes sweat, determination, and hard work!</p>
    </div>
    <div class="h-48 m-2 mt-4 bg-white rounded relative">
      <span class="block text-xl text-gray-700">
        Next Question
      </span>
      <span class="block text-2xl">{{recommendedQuestion.name}}</span>
      <p>
        {{recommendedQuestion.description.substr(0,100)}}...
      </p>
      <a href="/question/{{recommendedQuestion.id}}" class="absolute inset-x-0 bottom-0 text-white bg-blue-500 px-2 py-1 rounded shadow-sm hover:bg-blue-600 bottom">
        Go to question
      </a>
    </div>
  </div>
  <p class="font-body text-3xl m-6 mt-6 mb-1">
    Topics
  </p>
  <hr>
  <div class="flex w-full overflow-x-scroll pl-6 pt-3">
    {% for topic in topics %}
    <a href="/topic/{{topic.id}}" class="topic-card transition duration-500 ease-in-out inline-flex flex-grow items-center justify-center w-40 m-1 rounded overflow-hidden hover:bg-blue-700 hover:shadow-2xl" style="min-width: 150px; min-height: 100px; max-width: 150px;">
        <div class="font-display text-center text-white uppercase">
            {{topic.name}}
        </div>
    </a>
    {% endfor %}
  </div>
  <p class="font-body text-3xl ml-6 mt-6 mb-1">
    Questions
  </p>
  <hr>
    <div class="m-6 mt-3">
    <table class="table rounded-lg text-sm font-medium text-gray-700 text-left w-full">
        <thead class="bg-gray-200">
          <tr>
            <th class="w-1 px-4 py-2">Sno.</th>
            <th class="w-1 px-4 py-2">Rating</th>
            <th class="px-4 py-2">Name</th>
          </tr>
        </thead>
        <tbody class="text-sm font-normal text-gray-700">
            </tr>
            {% for question in questions %}
            <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
            <td class = "px-4 py-2">{{question.id}}</td>  
            <td class = "px-4 py-2">{{question.rating}}</td>
            <td class = "px-4 py-2"> 
            <a class="text-blue-500" href="/question/{{question.id}}">{{question.name}}</a></td>  
            </tr>
            {% endfor %}
    
        </tbody>
      </table>
    </div>
{% endblock %}