@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    position: absolute;
    height: 100%;
    max-height: 350px;
    width: 100%;
    background: linear-gradient(150deg,rgba(100,100,0,.25),70%,rgba(100,0,100,.55)),url('/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
    z-index: 0;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }

.banner-content {
    position: absolute;
    height: 350px;
    z-index: 2;
}

.content {
    margin: 0 auto;
    min-height: 70vh;
    position: relative;
}

.username {
    vertical-align: middle;
}